{% extends 'base.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle categorie</h1>

    {{ include('admin/categorie/_form.html.twig') }}

    <a href="{{ path('admin_categorie_index') }}">Retourner à la liste des categories</a>
{% endblock %}
