{% extends 'base.html.twig' %}

{% block title %}Bienvenue - GamingTwin
{% endblock %}

{% block body %}

	<div class="corps w-100">
		<div class="div_banniere">
			<img src="img/home/Banniere.png" alt="banniere" class="w-100">
		</div>
		<!--Call-to-actions  -->
		<div class="div_buttons d-flex justify-content-evenly pb-5">
            {% if not is_granted("ROLE_JOUEUR") %}
			<a class="btn cta me-80" href="{{ path("app_login")}}" role="button">Se connecter</a>
			<a class="btn cta ms-30" href="{{ path("app_register")}}" role="button">Inscription</a>
            {% else %}
            <a class="btn cta ms-30" href="{{ path("profil")}}" role="button">Votre profil</a>
            {% endif %}
		</div>
		<div class="d-flex justify-content-evenly div_home">
			<div class="img_home img_home1">
                <img src="img/home/ImageHome.png" alt="imgaccueil" id="home_img_1">
            </div>
            <div class="d-flex flex-column justify-content-center">
			    <p class="police text-center">GamerTwin vous permet de constituer votre nouvelle équipe<br>et de rencontrer de nouveaux joueurs avec le même état d'esprit.</p>	
            </div>
		</div>
		<div class="d-flex justify-content-evenly div_home mt-5">
			<div class="d-flex flex-column justify-content-center">
				<p class="police text-center">Arrête de jouer seul !<br>Trouve tes nouveaux coéquipiers et intègre une meilleure communautée.</p>
			</div>
			<div class="img_home img_home2">
                <img src="img/home/brogamer.png" alt="imgaccueil" id="home_img_2">
            </div>
		</div>
		<div class="d-flex justify-content-center mt-5 img_home_matching mb-5">
			<img src="img/home/matching.png" alt="imgaccueil">
		</div>


		<!-- Footer -->

		<div class="b-example-divider"></div>

		<div class="container">
			<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top ps-3">
				<div class="col-md-4 d-flex align-items-center">
					<div class="footer_flex">
						<span class="text-muted">&copy; GamingTwin</span>
						<a class="about" href="{{ path("about")}}">Qui sommes-nous?</a>
					</div>
				</div>

				<img class="logofooter" src="img/home/objets_fortement_contrastés.png" alt="">
			</footer>
		</div>

		<!-- FIN FOOTER -->
	</div>
{% endblock %}
