    <form method="post" action="{{ path('admin_joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Vous êtes bien sur de vouloir supprimer {{ joueur.pseudo }} ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>

