{% extends 'base.html.twig' %}

{% block title %}Nouveau joueur{% endblock %}

{% block body %}
    <h1>Créer un nouveau joueur</h1>

    {{ include('admin/joueur/_form.html.twig') }}

    <a href="{{ path('admin_joueur_index') }}">Retourner à la liste des joueurs</a>
{% endblock %}
