    <form method="post" action="{{ path('admin_jeu_delete', {'id': jeu.id}) }}" onsubmit="return confirm('Vous êtes bien sur de vouloir supprimer {{ jeu.nom }} ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeu.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
</div>

