{% extends 'base.html.twig' %}

{% block title %}Modifier jeu{% endblock %}

{% block body %}
    <h1>Modifier {{ jeu.nom }}</h1>

    {{ include('admin/jeu/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('admin/jeu/_delete_form.html.twig') }}

    <a href="{{ path('admin_jeu_index') }}">Retourner à la liste des jeux</a>

    
{% endblock %}
