{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <h1>Créer un nouveau jeu</h1>

    {{ include('admin/jeu/_form.html.twig') }}

    <a href="{{ path('admin_jeu_index') }}">Retourner à la liste des jeux</a>
{% endblock %}
