@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

.div_home{
    height: 200px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.menu-h{
    min-height: 100vh !important;
    max-height: 100% !important;
}
